$button-height: 2rem;
$button-width: 2rem;
$margin: 0.2rem;

.rrtable-pageSelector {
  grid-column-start: 2;
  grid-column-end: 2;
  justify-self: end;
  display: flex;
  align-items: center;
  &-pageButton {
    height: $button-height;
    width: fit-content;
    margin: $margin;
  }
  &-nbrButton {
    height: $button-height;
    width: $button-width;
    margin: $margin;
  }
  &-nbrButton-selected {
    height: 2.4rem;
    width: 2.4rem;
    background-color: #c5c9cc;
    border: 1px solid;
    border-radius: 2px;
    margin: $margin;
    font-size: 17px;
  }
  &-ellipsis {
    width: $button-width;
    text-align: center;
  }
}

.rrtable-footer {
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
  }
}
