.rrtable-header {
  &-title {
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  &-label {
    margin-left: 0.5rem;
    &-input {
      grid-column-start: 2;
      grid-column-end: 2;
      justify-self: end;
    }
  }
  &-labelContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
    margin: 0.5rem 0;
  }
}
