$height: 2.5rem;
$border-color-light: #eaedf0;
$border-color-dark: #97999b;
$cell-background-light: white;
$cell-background-dark: #f0f3f5;

@mixin backgroundParams($urlLink) {
  background-image: url($urlLink);
  background-repeat: no-repeat;
  background-position: right -0.2rem top $height/4;
}

@mixin darkerBackground($zindex : 0, $opa : 1) {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    opacity: $opa;
    z-index: $zindex;
    background-color: black;
    width: 100%;
    height: 100%;
  }
}

.rrtable-table {
  width: 100%;
  border: 2px solid $border-color-light;
  border-spacing: 0;
}

.rrtable-table-header {
  &-row {
    text-align: left;
    height: $height;
  }
  &-cell {
    padding: 0.2rem 0.8rem;
    border-bottom: 2px solid $border-color-dark;
    cursor: pointer;
    @include backgroundParams(
      "https://cdn.datatables.net/1.10.21/images/sort_both.png"
    );
    &.selectedSmaller {
      @include backgroundParams(
        "https://cdn.datatables.net/1.10.21/images/sort_desc.png"
      );
    }
    &.selectedBigger {
      @include backgroundParams(
        "https://cdn.datatables.net/1.10.21/images/sort_asc.png"
      );
    }
  }
}

.rrtable-row {
  text-align: left;
  height: $height;
  background-color: $cell-background-light;
  &:nth-child(2n + 1) {
    background-color: $cell-background-dark;
  }
  &:hover {
    opacity: 0.8;
  }
  &-cell {
    padding-left: 0.8rem;
    position:relative;
    &.selected{
      @include darkerBackground(0 , 0.05);
    }
  }
}

.rrtable-table-body {
  position: relative;
  @include darkerBackground(-10);
}
